<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sci-Fi Library</title>
    <link rel="icon" type="image/png" href="../../{{ static_url }}favicon.ico">
    <link rel="stylesheet" href='../../{{ static_url }}bootstrap.min.css'>
</head>
<body>
<!--================Header Menu Area =================-->
<header class="header_area">

</header>
<!--================Header Menu Area =================-->
<nav aria-label="Page navigator">
    <ul class="pagination justify-content-center mt-4">
        <li class="page-item {%if not previous_page %} disabled {% endif %}">
            <a class="page-link" href="{{ previous_page | urlencode }}">Предыдущая</a>
        </li>
        {% for page in all_pages %}
        {% if page.number == current_page_number %}
        <li class="page-item active" aria-current="page">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ page.url | urlencode }}">{{ page.number }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not next_page %} disabled {% endif %}">
            <a class="page-link" href="{{ next_page | urlencode }}">Следующая</a>
        </li>
    </ul>

</nav>
<!--================ Start Footer Area =================-->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            {% for title, books in books_catalog %}
            <div class="col-lg-6">
                <div class="card mb-4 rounded-3 shadow-sm" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-4">
                            {%for book in books%}
                            {%if book.image_src%}
                            <img src="../../{{ book.image_src | urlencode }}" class="card-img" alt="{{ book.title }}">
                            {% else %}
                            <img src='../../{{ covers_url }}' class="card-img" alt="{{ book.title }}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">{{ book.author.split()[0] }}</p>
                                {% for genre in book.genre %}
                                <div>
                                    <span class="badge bg-light text-dark">{{genre}}</span>
                                </div>
                                {% endfor %}

                                <p class="card-text mt-md-5 text-center">
                                    <a class="btn btn-outline-dark btn-lg active" aria-pressed="true"
                                       href="../../{{ book.book_src | urlencode }}"
                                       target="_blank"> Читать
                                    </a>
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</footer>
<!--================ End Footer Area =================-->
<script src="../../{{ static_url }}jquery-3.5.1.slim.min.js"></script>
<script src='../../{{ static_url }}bootstrap.bundle.min.js'></script>
</body>
</html>